<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imdb</title>
</head>
<body>

  
    
    {{#each imdbs}}
    <div class="card m-3 float-left" style="width: 22rem;">
  <img src="{{covermovie}}" alt="..." style="height: 300px;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{gener}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{year}}</li>
    <li class="list-group-item">{{ratings}}/10</li>
  </ul>
  {{#each this.actors}}
  <div class="card-body">
    <a href="/actors" class="card-link">{{fname}} {{lname}}</a>
  </div>
  {{/each}}
</div>
{{/each}}        
    
</body>
</html>