<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    
    {{#each movies}}

<div class="card mt-3 ml-5 text-white bg-info border-dark" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4" style="background-image: url(https://m.media-amazon.com/images/M/MV5BODA4NTk3MTQwN15BMl5BanBnXkFtZTcwNjUwMTMxNA@@._V1_.jpg);">
        
      <img src="{{covermovie}}" class="card-img" alt="Movie Poster" style="max-width: 100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{gener}}</p>
        <p class="card-text"><small>{{year}}</small></p>
      </div>
      <div>
        <form action="/addtowatchlist/{{id}}" method="POST">
        <button class="btn btn-primary ml-5" type="submit">Add to Watchlist</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{/each}}




</body>
</html>